*.pdf
!examples/*.pdf
*.docx
!reference.docx
*.html
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
/tmp/
.DS_Store
Thumbs.db
media/
venv/
__pycache__/
*.pyc
.~lock.*
history-*.md
*.tmp
dist/
